<% if @user.id == current_user.id %>
  <%= link_to "Edit Profile", edit_user_profile_path(current_user) %>
<% end %>

<h2><%= @profile.name %></h2>
<p>@<%= @user.username %></p>
<p><%= @profile.bio %></p><br>

<p>Age: <%= @profile.age %></p>
<p>Location: <%= @profile.location %></p>