<% if @user == current_user %>
  <%= link_to "Edit Profile", edit_user_profile_path(current_user) %>
  <div>
  <%= link_to "new post", new_post_path %> 
</div>
<% elsif current_user %>
  <% if following?(@user) %>
    <%= button_to 'Unfollow', unfollow_user_profile_path(user_id: @user.id), method: :delete %>
  <% else %>
    <%= button_to 'Follow', follow_user_profile_path(user_id: @user.id), method: :post %>
  <% end %>
<% end %>

<br>
<div>Followers: <%= @user.passive_relationships.count %></div>
<div>Following: <%= @user.active_relationships.count %></div>

<h2><%= @profile.name %></h2>
<p>@<%= @user.username %></p>
<p><%= @profile.bio %></p><br>

<p>Age: <%= @profile.age %></p>
<p>Location: <%= @profile.location %></p> <br>
<br>

<h3>posts:</h3>
<% @user.posts.all.reverse_order.each do |post| %>

  <div>
    <%= post.content %><br>
    <%= link_to post.updated_at.strftime("%m/%d/%Y %I:%M%p"), post_path(post) %>
    <% if post.user_id == current_user.id %>
      <%= button_to 'Delete Post', post_path(post), method: :delete %>
    <% end %>
  </div><br>

  <div>
    <%= pluralize(post.likes.count, 'Like') %>
    <% already_liked = post.likes.find { |like| like.user_id == current_user.id} %>
    <% if already_liked %>
      <%= button_to 'Unlike', post_like_path(post, already_liked, source_view: 'index'), method: :delete %>
    <% else %>
      <%= button_to 'Like', post_likes_path(post, source_view: 'index'), method: :post %>
    <% end %>
  </div>

  <div>
    <h5>Comments:</h5>
    <div>
      <% post.comments.each do |comment| %>
        <br><%= link_to "@#{comment.user.username}", user_profile_path(comment.user) %>:
        <%= comment.content %><br>
        <%= time_ago_in_words(comment.created_at) %> ago<br>
        <% if comment.user_id == current_user.id %>
          <%= button_to 'Delete', post_comment_path(post, comment), method: :delete %> 
        <% end %>
      <% end %>
    </div>
  </div>
  -----------------------------------------------------------------------------------
<% end %>